{% extends '_partials/base.html' %}
{% block title %}
    Register
{% endblock title %}
{% load static %}

{% block content %}

<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui middle aligned center aligned grid">
        <div class="column mt-5">
          <h2 class="ui teal image header">
            <img src={% static 'img/logo_coink.jpeg' %} class="image" />
            <div class="content">Registration</div>
          </h2>
  
            {% include '_partials/messages.html'%}
  
  
          <form class="ui large form" method="post" action={% url 'register' %}>
            {% csrf_token %}
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="username" value="{{data.username}}"  placeholder="Username" />
                </div>
              </div>
  
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" value="{{data.email}}" placeholder="Dirección de correo electrónico" />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="first_name" value="{{data.first_name}}" placeholder="Nombre completo" />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="city" value="{{data.city}}" placeholder="Ciudad" />
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Contraseña" />
                </div>
              </div>
  
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input
                    type="password"
                    name="password2"
                    placeholder="Repita la contraseña"
                  />
                </div>
              </div>
              <button class="ui fluid large teal submit button">Enviar</button>
            </div>
  
          </form>
  
          <div class="ui message">¿Tiene una cuenta? <a href={% url 'login'  %}>Login</a></div>
      <div class="four wide column"></div>
    </div>
  </div>

{% endblock content %}
